{% if linklists.gift-wrapping.links.size > 0 and linklists.gift-wrapping.links.first.type == 'product_link' %}
<div class="grid__item medium-up--one-half">
<div id="is-a-gift" class="clearfix rte">
    <h3>Gift Wrapping & Message</h3>
    <div class="gift-wrapping__wrapper">
        {% if section.settings.free_gift_enabled %}
        <div class="gift-wrapping__container">
            {% assign free_gift_image = 'gift-card.svg' | asset_url %}
        {% if section.settings.free_gift_image %}
        {% assign free_gift_image = section.settings.free_gift_image | img_url: '84x' %}
        {% endif %}
        <div class="imgWrap"><img src="{{ free_gift_image }}" class="icon" alt=""></div>
        {% if section.settings.free_gift_title != blank %}<h4>{{section.settings.free_gift_title}}</h4>{% endif %}

            <input
            class="gift-wrapping__check hide"
            id="free-gift-wrapping"
            type="checkbox"
            name="attributes[free-gift-wrapping]"
            value="yes"
            {% if cart.attributes.free-gift-wrapping %} checked="checked" {% endif %}
            />
            <label for="free-gift-wrapping">{{section.settings.free_gift_text}}</label>
            <button
                type="button"
                class="button btn btn--tertiary btn--small gift-wrapping__button {% if cart.attributes.free-gift-wrapping != blank %} gift-wrapping__button--selected{% endif %}"
                data-input="free-gift-wrapping"
                data-note="free-gift-note">
                {% if cart.attributes.free-gift-wrapping != blank  %}{{section.settings.free_gift_button_remove}}{% else %}{{section.settings.free_gift_button}}{% endif %}
        </button>
        {% if cart.attributes.free-gift-wrapping %}
        <div class="gift-wrap__bottom">
                <label for="free-gift-note">Gift Message (up to 100 characters):</label>
                <textarea name="attributes[free-gift-note]" id="free-gift-note">{{ cart.attributes.free-gift-note }}</textarea>
            </div>
            {%- endif -%}
        </div>
        {%- endif -%}


        {% if section.settings.paid_gift_enabled %}
        <div class="gift-wrapping__container">
            {% assign paid_gift_image = 'gift-box.svg' | asset_url %}
            {% if section.settings.paid_gift_image %}
            {% assign paid_gift_image = section.settings.paid_gift_image | img_url: '84x' %}
            {% endif %}
            <div class="imgWrap"><img src="{{ paid_gift_image }}" class="icon" alt=""></div>
            {% if section.settings.paid_gift_title != blank %}<h4>{{section.settings.paid_gift_title}}</h4>{% endif %}


        <input  class="gift-wrapping__check hide"
            id="gift-wrapping"
             type="checkbox"
              name="attributes[paid-gift-wrapping]" value="yes" {% if
            cart.attributes.paid-gift-wrapping %} checked="checked" {% endif %} style="float: none" />
            <label for="gift-wrapping">
                {% assign paid_gift_price = linklists.gift-wrapping.links.first.object.price | money %}
                {{section.settings.paid_gift_text | replace: "<price>", paid_gift_price}}
            </label>
            <button
            class="button btn btn--tertiary btn--small gift-wrapping__button {% if cart.attributes.paid-gift-wrapping %} gift-wrapping__button--selected{% endif %}"
            data-input="gift-wrapping"
            data-note="gift-note">
      {% if cart.attributes.paid-gift-wrapping %}{{section.settings.paid_gift_button_remove}}{% else %}{{section.settings.paid_gift_button}}{% endif %}
    </button>
    {% if cart.attributes.paid-gift-wrapping != blank %}
    <div class="gift-wrap__bottom">
      <label for="gift-note">{{ 'cart.general.note' | t }}</label>
      <textarea
                name="attributes[gift-note]"
                id="gift-note"
                {% unless cart.attributes.paid-gift-wrapping %} disabled {% endunless %}>{{- cart.attributes.gift-note -}}</textarea>
    </div>
    {% endif %}

    </div>
        {%- endif -%}
</div>
</div>

{% assign id = linklists.gift-wrapping.links.first.object.variants.first.id %}

{% assign gift_wraps_in_cart = 0 %}
{% for item in cart.items %}
{% if item.id == id %}
{% assign gift_wraps_in_cart = item.quantity %}
{% endif %}
{% endfor %}

<style>
.cart__qty{{id}} {display: none;}
</style>

<script>

    Shopify.Cart = Shopify.Cart || {};

    Shopify.Cart.GiftWrap = {};

    Shopify.Cart.GiftWrap.set = function () {
        var headers = new Headers({ 'Content-Type': 'application/json' });
        var request = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({
                    updates: { {{ id }}: 1 }, attributes: { 'paid-gift-wrapping': true, 'gift-note': null, 'free-gift-wrapping': null, 'free-gift-note': null  }
                })
            };
        fetch('/cart/update.js', request).then(function () { location.href = '/cart'; });
    }

    Shopify.Cart.GiftWrap.remove = function () {
        var headers = new Headers({ 'Content-Type': 'application/json' });

        var request = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({
                    updates: { {{ id }}: 0}, attributes: { 'paid-gift-wrapping': null, 'gift-note': null, 'free-gift-note': null  }
                })
            };
            fetch('/cart/update.js', request).then(function () { location.href = '/cart'; });
    }


    // Free gift message
    Shopify.Cart.freeGiftWrap = {};

    Shopify.Cart.freeGiftWrap.set = function () {
        var headers = new Headers({ 'Content-Type': 'application/json' });
        var request = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({
                    // This is a free message so don't needed to add product
                    updates: {  {{ id }}: 0 }, attributes: { 'free-gift-wrapping': true, 'free-gift-note': null, 'paid-gift-wrapping': null, 'gift-note': null }
                })
            };
        fetch('/cart/update.js', request).then(function () { location.href = '/cart'; });
    }

    Shopify.Cart.freeGiftWrap.remove = function () {
        var headers = new Headers({ 'Content-Type': 'application/json' });

        var request = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({
                    // This is a free message so don't needed to add product
                    updates: { /* {{ id }}: 0 */ }, attributes: { 'free-gift-wrapping': null, 'free-gift-note': null, 'gift-note': null }
                })
            };
            fetch('/cart/update.js', request).then(function () { location.href = '/cart'; });
    }

    // If we have nothing but gift-wrap items in the cart.
    {% if cart.items.size == 1 and gift_wraps_in_cart > 0 %}
    document.addEventListener("DOMContentLoaded", function () {
        Shopify.Cart.GiftWrap.remove();
    });
    // If we have more than one gift-wrap item in the cart.
    {% elsif gift_wraps_in_cart > 1 %}
    document.addEventListener("DOMContentLoaded", function () {
        Shopify.Cart.GiftWrap.set();
    });
    // If we have a gift-wrap item in the cart but our gift-wrapping cart attribute has not been set.
    {% elsif gift_wraps_in_cart > 0 and cart.attributes.paid-gift-wrapping == blank %}
    document.addEventListener("DOMContentLoaded", function () {
        Shopify.Cart.GiftWrap.set();
    });
    // If we have no gift-wrap item in the cart but our gift-wrapping cart attribute has been set.
    {% elsif gift_wraps_in_cart == 0 and cart.attributes.paid-gift-wrapping != blank %}
    document.addEventListener("DOMContentLoaded", function () {
        Shopify.Cart.GiftWrap.set();
    });
    {% endif %}

    //when clicking the gift button, click on the checkbox for that gift option
    let giftButtons = document.querySelectorAll('.gift-wrapping__button');
    giftButtons.forEach(function(button){

        var input = button.dataset.input;

        let loader = '<span data-loader>Loading...{% render 'icon-loader' %}</span>';

        //console.log(input);
        button.addEventListener('click',function(e){
            e.preventDefault();
            button.innerHTML = loader;
            let inputEl = document.getElementById(input);
            //console.log(input,inputEl);
            inputEl.removeAttribute('disabled')
            inputEl.click();
        });
    });

    // When the Paid gift-wrapping checkbox is checked or unchecked.
    document.addEventListener("DOMContentLoaded", function () {
        {% if section.settings.paid_gift_enabled %}
        document.querySelector('[name="attributes[paid-gift-wrapping]"]').addEventListener("change", function (event) {
            if (event.target.checked) {
                Shopify.Cart.GiftWrap.set();
            } else {
                Shopify.Cart.GiftWrap.remove();
            }
        });

        {% if cart.attributes.paid-gift-wrapping != blank %}
        document.querySelector('#gift-note').addEventListener("change", function (evt) {
            var note = evt.target.value;
            var headers = new Headers({ 'Content-Type': 'application/json' });
            var paidgiftCheckBox = document.getElementById("gift-wrapping");

            var request = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({ attributes: { 'gift-note': note } })
            };
            if (paidgiftCheckBox.checked == true){
                fetch('/cart/update.js', request);
            }
        });
        {% endif %}
        {%endif %}
    });

    // When the Paid free-gift-wrapping checkbox is checked or unchecked.
    document.addEventListener("DOMContentLoaded", function () {
        {% if section.settings.free_gift_enabled %}
        document.querySelector('[name="attributes[free-gift-wrapping]"]').addEventListener("change", function (event) {
            if (event.target.checked) {
                Shopify.Cart.freeGiftWrap.set();
            } else {
                Shopify.Cart.freeGiftWrap.remove();
            }
        });

        {% if cart.attributes.free-gift-wrapping %}
        document.querySelector('#free-gift-note').addEventListener("change", function (evt) {
            var note = evt.target.value;
            var headers = new Headers({ 'Content-Type': 'application/json' });
            var freegiftCheckBox = document.getElementById("free-gift-wrapping");

            var request = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({ attributes: { 'free-gift-note': note } })
            };
            if (freegiftCheckBox.checked == true){
                fetch('/cart/update.js', request);
            }
        });
        {% endif %}
        {%endif %}
    });

</script>
<style>
    .gift-wrapping__wrapper{display: flex;}
    .gift-wrapping__wrapper .gift-wrapping__container{flex: 1 1 auto;width: 100%;text-align: center;padding: 30px 20px 20px;border: 5px solid #eee;color:var(--color-text);}
    .gift-wrapping__wrapper .gift-wrapping__container .imgWrap img{width: 84px;height: auto;display: block;margin: auto;margin-bottom: 14px;}
    .gift-wrapping__wrapper .gift-wrapping__container button.gift-wrapping__button {margin-top: 12px;margin-bottom: 12px;line-height: 20px;height: 40px;}
    .gift-wrapping__wrapper .gift-wrapping__container textarea{width: 100%;}
    .gift-wrapping__wrapper .gift-wrapping__container label{display: block;}
    .gift-wrapping__check.hide{display: none;}
    .gift-wrapping__button span { width: 20px;color:#7fb1b4;font-size: 0; }
    .gift-wrapping__button:hover span {color:#E48A59;font-size: 0; }
    .gift-wrapping__button span svg.icon.icon-spinner {margin-top: -5px;}
    #is-a-gift h3 {font-size: 16px;color: #E48A59;}
    @media (max-width: 749px){
      .gift-wrapping__wrapper{display: flex;flex-wrap: wrap;}
      .gift-wrapping__wrapper .gift-wrapping__container{flex: 0 0 100%;width: 100%;}
    }
  </style>
{% else %}

<p style="clear: left; margin: 30px 0" class="rte">
    You attempted to add a gift-wrapping script to your shopping cart, but it won't work because you don't have
    a link list with handle <code>gift-wrapping</code> which, in turn, contains a link
    to your gift-wrapping product. Please review the steps outlined
    <a href="https://shopify.dev/tutorials/customize-theme-add-gift-wrap-option" target="_blank"
        rel="noopener noreferrer nofollow">here</a>.
</p>
{% endif %}
</div>
