{{ 'section-slideshow-new.css' | asset_url | stylesheet_tag }}
{% comment %}
{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    #Banner-{{ section.id }}::before, #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  {%- endstyle -%}
{%- endif -%}
{% if section.blocks.size > 0 %}
    <div class="slideshow slider"
    {%- if section.settings.desktopInit or section.settings.tabInit or section.settings.mobileInit -%}
    data-slickslideshow="true"
    data-slick-autoplay="{{ section.settings.autoplay }}"
    data-slick-autoplayspeed="{{ section.settings.autorotate_speed | times: 1000 }}"
    data-slick-infinite="{{ section.settings.sliderLoop }}"
    data-slick-pauseonhover="{{ section.settings.pauseOnHover }}"
    {%- endif -%}>
{%- for block in section.blocks -%}
<div>
<div id="Banner-{{ section.id }}" class="banner{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank%} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %} {%- if block.settings.video_url.type == 'youtube' -%}youtube{% endif %} {%- if block.settings.video_url.type == 'vimeo' -%}vimeo{% endif %}">

    {% case block.type %}
        {% when 'video' %}
        {% if block.settings.video_url != blank %}

            {% if block.settings.video_url != blank %}
            <div class="video-banner banner__media">

<!--               <div class="Video">
                <div class="mp4Video"> -->
                  {%- if block.settings.video_url.type == 'youtube' -%}
                  <iframe class="embed-player slide-media" width="100%" height="800" src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&playlist=QV5EXOFcdrQ&start=1" frameborder="0" allowfullscreen></iframe>
<!--                   <iframe src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe> -->
                  {%- else -%}
                  <iframe src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
                  {%- endif -%}
                  {% comment %}
                  <video id="banner-videos" class="slideshow__video" autoplay loop muted playsinline width="100%">
                    <source src="{{ block.settings.video }}" type="video/mp4" id="{{ section.id }}">
                  </video>
                  {% endcomment %}
<!--                 </div>
              </div> -->

            </div>
            {% endif %}

        {% endif %}
        {% when 'image' %}
  {%- if block.settings.image != blank -%}
    <div class="banner__media media{% if block.settings.image == blank and block.settings.image_2 == blank %} placeholder{% endif %}{% if block.settings.image_2 != blank %} banner__media-half small-hide{% endif %} desktop-image"
      style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
    >
      <img
        srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}"
        sizes="{% if block.settings.image_2 != blank and block.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif block.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ block.settings.image | img_url: 'master' }}"
        loading="lazy"
        alt="{{ block.settings.image.alt | escape }}"
        width="{{ block.settings.image.width }}"
        height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
        {% comment %}{% if block.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}{% endcomment %}
      >
    </div>
    {% endif %}
  {%- if block.settings.image_2 != blank -%}
    <div class="banner__media media{% comment %}{% if block.settings.image != blank %} banner__media-half{% endif %}{% endcomment %} mobile-image medium-hide large-up-hide"
      style="padding-bottom: {{ 1 | divided_by: block.settings.image_2.aspect_ratio | times: 100 }}%;"
    >
      <img
        srcset="{%- if block.settings.image_2.width >= 375 -%}{{ block.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
          {%- if block.settings.image_2.width >= 750 -%}{{ block.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
          {%- if block.settings.image_2.width >= 1100 -%}{{ block.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if block.settings.image_2.width >= 1500 -%}{{ block.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if block.settings.image_2.width >= 1780 -%}{{ block.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if block.settings.image_2.width >= 2000 -%}{{ block.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if block.settings.image_2.width >= 3000 -%}{{ block.settings.image_2 | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if block.settings.image_2.width >= 3840 -%}{{ block.settings.image_2 | img_url: '3840x' }} 3840w,{%- endif -%}"
        sizes="{% if block.settings.image != blank and block.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif block.settings.image != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ block.settings.image_2 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ block.settings.image_2.alt | escape }}"
        width="{{ block.settings.image_2.width }}"
        height="{{ block.settings.image_2.width | divided_by: block.settings.image_2.aspect_ratio }}"
        {% comment %}{% if block.settings.image != blank %}class="banner__media-image-half"{% endif %}{% endcomment %}
      >
    </div>
  {%- endif -%}
  {% endcase %}
  <div class="banner__content page-width {{ block.settings.desktop_text_box_position }}">
    <div class="banner__box color-{{ block.settings.color_scheme }} text-align-{{ block.settings.text-align }}">

            <h2 class="banner__heading h1" style="color:{{block.settings.heading_text_color}}" {{ block.shopify_attributes }} >
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
            <div class="banner__text" {{ block.shopify_attributes }}>
              <span>{{ block.settings.text | escape }}</span>
            </div>
            <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_link_1 != blank and block.settings.button_label_2 != blank and block.settings.button_link_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.button_label_1 != blank -%}
                <a{% if block.settings.button_link_1 != blank %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a{% if block.settings.button_link_2 != blank %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_2 | escape }}</a>
              {%- endif -%}
            </div>
    </div>
  </div>

</div>
</div>
{% endfor %}

</div>
{% endif %}
{% endcomment %}





<section class="slideshow-section">
  <div id="main-slider" class="main-slider slideshow"
    {%- if section.settings.desktopInit or section.settings.tabInit or section.settings.mobileInit -%}
        data-slickslider="true"
        data-slick-autoplay="{{ section.settings.autoplay }}"
        data-slick-autoplayspeed="{{ section.settings.autorotate_speed | times: 1000 }}"
        data-slick-infinite="{{ section.settings.sliderLoop }}"
        data-slick-pauseonhover="{{ section.settings.pauseOnHover }}"

        data-slick-desktop-init="{{ section.settings.desktopInit }}"
        data-slick-desktop-show="{{ section.settings.desktopShow }}"
        data-slick-desktop-arrows="{{ section.settings.desktopArrows }}"
        data-slick-desktop-dots="{{ section.settings.desktopDots }}"
        data-slick-desktop-vertical="false"

        data-slick-tab-init="{{ section.settings.tabInit }}"
        data-slick-tab-show="{{ section.settings.tabShow }}"
        data-slick-tab-arrows="{{ section.settings.tabArrows }}"
        data-slick-tab-dots="{{ section.settings.tabDots }}"
        data-slick-tab-vertical="false"

        data-slick-mobile-init="{{ section.settings.mobileInit }}"
        data-slick-mobile-show="{{ section.settings.mobileShow }}"
        data-slick-mobile-arrows="{{ section.settings.mobileArrows }}"
        data-slick-mobile-dots="{{ section.settings.mobileDots }}"
        data-slick-mobile-vertical="false"
    {%- endif -%}
  >
	{%- for block in section.blocks -%}
  <div id="Banner-{{ section.id }}" class="banner{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank%} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %} {%- if block.settings.video_url.type == 'youtube' -%}youtube{% endif %} {%- if block.settings.video_url.type == 'vimeo' -%}vimeo{% endif %}">
		{% case block.type %}
			 {% when 'video' %}
			 {% if block.settings.video_url != blank %}
				{%- if block.settings.video_url.type == 'youtube' -%}
				<div class="item youtube" style="padding-bottom: {{ 1 | divided_by: block.settings.video_url.id.aspect_ratio | times: 100 }}%;">
				<iframe src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1" width="100%" height="800" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
				</div>
				{%- else -%}
				<div class="item vimeo" data-video-start="4">
				<iframe src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}" width="100%" height="800" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
				</div>
				{% endif %}
				{% comment %}
				<div class="item video">
				<video class="slide-video slide-media" loop muted preload="metadata" poster="https://images.unsplash.com/photo-1483555714914-20a74b6e45f5?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTIwOQ&ixlib=rb-1.2.1&q=85">
				<source src="{{ block.settings.video }}" type="video/mp4" id="{{ section.id }}">
				</video>
				</div>
				{% endcomment %}
			 {% endif %}
  {% when 'image' %}
			<div class="item image">
                {% if block.settings.use_button_link and block.settings.button_link_1 %}
                    <a class="full-ref-link" href="{{block.settings.button_link_1 }}">
                        <span class="visually-hidden">{{ block.settings.image.alt | escape }}</span>
                    </a>
                {% endif %}
              <div class="banner__media media{% if block.settings.image == blank and block.settings.image_2 == blank %} placeholder{% endif %} desktop-image"
      style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
    >
      <img
        src="{{ block.settings.image | img_url: 'master' }}"
        loading="lazy"
        alt="{{ block.settings.image.alt | escape }}"
        width="{{ block.settings.image.width }}"
        height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
        {% if block.settings.image_2 != blank %}class="{%- if block.settings.image_2 != blank -%}small-hide {% endif %}desktop-image banner__media-image-half"{% endif %}
      >
                <img
        src="{{ block.settings.image_2 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ block.settings.image_2.alt | escape }}"
        width="{{ block.settings.image_2.width }}"
        height="{{ block.settings.image_2.width | divided_by: block.settings.image_2.aspect_ratio }}"
        {% if block.settings.image != blank %}class=" img-show mobile-image banner__media-image-half medium-hide large-up-hide"{% endif %}
      >
    </div>
			</div>
    {% endcase %}
        <div class="banner__content page-width {{ block.settings.desktop_text_box_position }}">
          <div class="banner__box color-{{ block.settings.color_scheme }} text-align-{{ block.settings.text-align }}">

              {% if block.settings.heading != blank %}
                  <h2 class="banner__heading hero-img-h1" style="color:{{block.settings.heading_text_color}};" {{ block.shopify_attributes }}>
                    <span>{{ block.settings.heading | escape }}</span>
                  </h2>
              {% endif %}
                  <div class="banner__text" {{ block.shopify_attributes }}>
                    <span>{{ block.settings.text | escape }}</span>
                  </div>
                  <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_link_1 != blank and block.settings.button_label_2 != blank and block.settings.button_link_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                    {%- if block.settings.button_label_1 != blank -%}
                      <a{% if block.settings.button_link_1 != blank %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
                    {%- endif -%}
                    {%- if block.settings.button_label_2 != blank -%}
                      <a{% if block.settings.button_link_2 != blank %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_2 | escape }}</a>
                    {%- endif -%}
                  </div>
          </div>
    </div>
            <div class="slide_logo small-hide">
              {%- if block.settings.slide_logo_svg == blank and block.settings.slide_logo != blank -%}
                <img
                    srcset="{%- if block.settings.slide_logo.width >= 375 -%}{{ block.settings.slide_logo | img_url: '375x' }} 375w,{%- endif -%}
                    {%- if block.settings.slide_logo.width >= 750 -%}{{ block.settings.slide_logo | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if block.settings.slide_logo.width >= 1100 -%}{{ block.settings.slide_logo | img_url: '1100x' }} 1100w,{%- endif -%}
                    {%- if block.settings.slide_logo.width >= 1500 -%}{{ block.settings.slide_logo | img_url: '1500x' }} 1500w,{%- endif -%}
                    {%- if block.settings.slide_logo.width >= 1780 -%}{{ block.settings.slide_logo | img_url: '1780x' }} 1780w,{%- endif -%}
                    {%- if block.settings.slide_logo.width >= 2000 -%}{{ block.settings.slide_logo | img_url: '2000x' }} 2000w,{%- endif -%}
                    {%- if block.settings.slide_logo.width >= 3000 -%}{{ block.settings.slide_logo | img_url: '3000x' }} 3000w,{%- endif -%}
                    {%- if block.settings.slide_logo.width >= 3840 -%}{{ block.settings.slide_logo | img_url: '3840x' }} 3840w,{%- endif -%}"
                    src="{{ block.settings.slide_logo | img_url: 'master' }}"
                    loading="lazy"
                    alt="{{ block.settings.slide_logo.alt | escape }}"
                    width="{{ block.settings.slide_logo.width }}"
                    height="{{ block.settings.slide_logo.width | divided_by: block.settings.slide_logo.aspect_ratio }}"
                >
            {%- else %}
                    {{ block.settings.slide_logo_svg }}
            {%- endif -%}
          </div>
          <div class="slide_logo_mob medium-hide large-up-hide">
            {%- if block.settings.slide_logo_svg_mob == blank and block.settings.slide_logo_mob != blank -%}
              <img
                  srcset="{%- if block.settings.slide_logo_mob.width >= 375 -%}{{ block.settings.slide_logo_mob | img_url: '375x' }} 375w,{%- endif -%}
                  {%- if block.settings.slide_logo_mob.width >= 750 -%}{{ block.settings.slide_logo_mob | img_url: '750x' }} 750w,{%- endif -%}
                  {%- if block.settings.slide_logo_mob.width >= 1100 -%}{{ block.settings.slide_logo_mob | img_url: '1100x' }} 1100w,{%- endif -%}
                  {%- if block.settings.slide_logo_mob.width >= 1500 -%}{{ block.settings.slide_logo_mob | img_url: '1500x' }} 1500w,{%- endif -%}
                  {%- if block.settings.slide_logo_mob.width >= 1780 -%}{{ block.settings.slide_logo_mob | img_url: '1780x' }} 1780w,{%- endif -%}
                  {%- if block.settings.slide_logo_mob.width >= 2000 -%}{{ block.settings.slide_logo_mob | img_url: '2000x' }} 2000w,{%- endif -%}
                  {%- if block.settings.slide_logo_mob.width >= 3000 -%}{{ block.settings.slide_logo_mob | img_url: '3000x' }} 3000w,{%- endif -%}
                  {%- if block.settings.slide_logo_mob.width >= 3840 -%}{{ block.settings.slide_logo_mob | img_url: '3840x' }} 3840w,{%- endif -%}"
                  src="{{ block.settings.slide_logo_mob | img_url: 'master' }}"
                  loading="lazy"
                  alt="{{ block.settings.slide_logo_mob.alt | escape }}"
                  width="{{ block.settings.slide_logo_mob.width }}"
                  height="{{ block.settings.slide_logo_mob.width | divided_by: block.settings.slide_logo_mob.aspect_ratio }}"
              >
          {%- else %}
                  {{ block.settings.slide_logo_svg_mob }}
          {%- endif -%}
        </div>
  </div>

	{%- endfor -%}
  </div>
              {% comment %} <div class="slider-arrows slick-controls">
    <button class="slick-arrow left-arrow" aria-label="Previous" type="button" style=""><svg viewBox="0 0 320 512" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg"><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" fill="currentColor"></path></svg></button>
    <button class="slick-arrow right-arrow" aria-label="Next" type="button" style=""><svg viewBox="0 0 320 512" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" fill="currentColor"></path></svg></button>
  </div> {% endcomment %}
</section>






<style>
    a.full-ref-link {
    display:block;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 100%;
    z-index: 4;
  }
  button#mutedd {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0 none;
    color: #000;
    top: 20px;
}
button#mutee {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0 none;
    color: #000;
    top: 20px;
}
button#play-push {
    background-color: transparent;
    border: 0 none;
    position: absolute;
    right: 70px;
    width: 40px;
    height: 40px;
    top: 20px;
    background-color: #fff;
    cursor: pointer;
}
button#play-push svg.icon.icon-play {
    width: 20px;
    height: 20px;
    color: gray;
}
.mp4Video {
  position: relative;
  width: 100%;
  height: 100%
}
  .mp4Video iframe {
    width: 100%;
    height: 100%;
  }
    button#muted {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0 none;
    color: #000;
    top: 20px;
}
button#mute {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0 none;
    color: #000;
    top: 20px;
}
button#play-push {
    background-color: transparent;
    border: 0 none;
    position: absolute;
    right: 70px;
    width: 40px;
    height: 40px;
    top: 20px;
    background-color: #fff;
    cursor: pointer;
}
button#play-push svg.icon.icon-play {
    width: 20px;
    height: 20px;
    color: gray;
}
.deferred-media__poster {
  display: none;
}
.Video {
  position: relative;
}
  .slideshow .banner .video-banner{height:90vh;}

   video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform:translate(-50%, -50%);
  }
/*   iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  } */
/*   .item.youtube::before {
    padding-top: 56.25%;
    content:"";
} */
  .item.youtube {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
  .item.youtube {
  overflow: hidden;
  padding-top: 43.23%; /* 16:9*/
  position: relative;
}
    .item.vimeo {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
  .item.vimeo {
  overflow: hidden;
  padding-top: 43.23%; /* 16:9*/
  position: relative;
}

iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
  .slider-arrows.slick-controls {
    align-items: center;
    justify-content: flex-start;
    max-width: 1466px;
    padding-left: 5rem;
    padding-right: 5rem;
    position: absolute;
    z-index: 2;
    top: auto;
    right: 0;
    bottom: 10rem;
    left: 0;
    padding: 3rem 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}
  .slider-arrows.slick-controls button.slick-arrow {
    border: 0 none;
    margin: 0 15px;
        background-color: transparent;
}
  .slider-arrows.slick-controls button.slick-arrow svg {
    color: #1262A1;
  }
  .slider-arrows.slick-controls button.slick-arrow.left-arrow {
    margin-left: 0;
  }
section.slideshow-section {
    position: relative;
}
@media screen and (min-width: 750px)
{
#shopify-{{ section.id }} .banner {
    min-height: 58rem !important;
  }
}
  @media screen and (max-width: 1199px) {
  .slider-arrows.slick-controls {
    bottom: 0rem;
  }
  }
  @media screen and (max-width: 767px) {
  .slider-arrows.slick-controls {
    top: 16rem;
    right: 0;
    bottom: auto;
    left: 0;
    padding-left: 7rem;
    padding-right: 5rem;
    text-align: center;
  }
  }
</style>
<script>

</script>

{% schema %}
{
  "name": "New slideshow ",
  "tag": "section",
  "class": "section-spliter spaced-section--full-width",
  "settings": [
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.image-banner.settings.adapt_height_first_image.label"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "Change slides every",
      "max": 10,
      "min": 1,
      "step": 1,
      "unit": " s",
      "default": 3
    },
    {
        "type": "checkbox",
        "id": "sliderLoop",
        "label": "Infinite loop sliding",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "pauseOnHover",
        "label": "Pause on Hover",
        "default": false
    },
    {
        "type": "header",
        "content": "Desktop Settings"
    },
    {
        "type": "checkbox",
        "id": "desktopInit",
        "label": "Enable Slider in Desktop",
        "default": true
    },
    {
        "type": "range",
        "id": "desktopShow",
        "label": "Show",
        "default": 4,
        "max": 8,
        "min": 1,
        "step": 1
    },
    {
        "type": "checkbox",
        "id": "desktopArrows",
        "label": "Arrows",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "desktopDots",
        "label": "Dots",
        "default": false
    },
    {
        "type": "header",
        "content": "Tablet Settings"
    },
    {
        "type": "checkbox",
        "id": "tabInit",
        "label": "Enable slider in tablet",
        "default": true
    },
    {
        "type": "range",
        "id": "tabShow",
        "label": "Show",
        "default": 3,
        "max": 6,
        "min": 1,
        "step": 1
    },
    {
        "type": "checkbox",
        "id": "tabArrows",
        "label": "Arrows",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "tabDots",
        "label": "Dots",
        "default": false
    },
    {
        "type": "header",
        "content": "Mobile Settings"
    },
    {
        "type": "checkbox",
        "id": "mobileInit",
        "label": "Enable slider in Mobile",
        "default": true
    },
    {
        "type": "range",
        "id": "mobileShow",
        "label": "Show",
        "default": 2,
        "max": 6,
        "min": 1,
        "step": 1
    },
    {
        "type": "checkbox",
        "id": "mobileArrows",
        "label": "Arrows",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "mobileDots",
        "label": "Dots",
        "default": false
    }
  ],
  "blocks": [
    {
        "type": "image",
        "name": "t:sections.slideshow.blocks.image.name",
        "settings": [
        {
            "type": "image_picker",
            "id": "image",
			      "info": "Recommanded Size: 1920x800",
            "label": "t:sections.slideshow.blocks.image.settings.image.label"
        },
        {
            "type": "image_picker",
            "id": "image_2",
			      "info": "Recommanded Size: 767x1100",
            "label": "t:sections.slideshow.blocks.image.settings.image_2.label"
        },
        {
            "type": "text",
            "id": "heading",
            "default": "Image banner",
            "label": "t:sections.slideshow.blocks.image.settings.heading.label"
        },
        {
          "type": "color",
          "id": "heading_text_color",
          "default": "#E48A59",
          "label": "Heading text color"
        },
        {
            "type": "text",
            "id": "text",
            "default": "Give customers details about the banner image(s) or content on the template.",
            "label": "t:sections.slideshow.blocks.image.settings.text.label"
        },
        {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "t:sections.slideshow.blocks.image.settings.button_label_1.label",
            "info": "t:sections.slideshow.blocks.image.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "t:sections.slideshow.blocks.image.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "use_button_link",
            "label": "Use button 1 link as reference of banner",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_1",
            "default": false,
            "label": "t:sections.slideshow.blocks.image.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "default": "Button label",
            "label": "t:sections.slideshow.blocks.image.settings.button_label_2.label",
            "info": "t:sections.slideshow.blocks.image.settings.button_label_2.info"
          },
          {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.slideshow.blocks.image.settings.button_link_2.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.slideshow.blocks.image.settings.button_style_secondary_2.label"
          },
          {
            "type":"header",
            "content":"LOGO"
          },
          {
              "type": "image_picker",
              "id": "slide_logo",
              "info": "Recommanded Size: 60x60",
              "label": "Slide logo"
          },
          {
              "type": "text",
              "id": "slide_logo_svg",
              "info": "Recommanded Size: 60x60",
              "label": "Slide logo svg",
              "info":"if svg icon is there png will be hidden"
          },
          {
              "type": "image_picker",
              "id": "slide_logo_mob",
              "info": "Recommanded Size: 60x60",
              "label": "Slide logo Mobile"
          },
          {
              "type": "text",
              "id": "slide_logo_svg_mob",
              "info": "Recommanded Size: 60x60",
              "label": "Slide logo Mobile svg",
              "info":"if svg icon is there png will be hidden"
          },
          {
            "type": "select",
            "id": "desktop_text_box_position",
            "options": [
              {"value": "align-items-start justify-content-center","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__1.label"},
              {"value": "align-items-center justify-content-center","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__2.label"},
              {"value": "align-items-end justify-content-center","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__3.label"},
              {"value": "align-items-start justify-content-start","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__4.label"},
              {"value": "align-items-center justify-content-start","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__5.label"},
              {"value": "align-items-end justify-content-start","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__6.label"},
              {"value": "align-items-start justify-content-end","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__7.label"},
              {"value": "align-items-center justify-content-end","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__8.label"},
              {"value": "align-items-end justify-content-end","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__9.label"}
            ],
            "default": "align-items-center justify-content-start",
            "label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.label"
          },
          {
            "type": "select",
            "id": "text-align",
            "options": [
              {"value": "center","label": "Center"},
              {"value": "right","label": "Right"},
              {"value": "left","label": "Left"}
            ],
            "default": "left",
            "label": "Text align"
          },
          {
            "type": "select",
            "id": "color_scheme",
            "options": [
              {
                "value": "prebild",
                "label": "Primary"
              },
              {
                "value": "accent-1",
                "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__1.label"
              },
              {
                "value": "background-1",
                "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__3.label"
              },
              {
                "value": "background-2",
                "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__4.label"
              },
              {
                "value": "inverse",
                "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__5.label"
              }
            ],
            "default": "prebild",
            "label": "t:sections.slideshow.blocks.image.settings.color_scheme.label"
          }
        ]
    },
    {
        "type": "video",
        "name": "t:sections.slideshow.blocks.video.name",
        "settings": [
        {
        	"type": "video_url",
        	"id": "video_url",
        	"accept": [
        	"youtube",
        	"vimeo"
        	],
        	"default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
        	"label": "t:sections.slideshow.blocks.video.settings.video_url.label",
        	"placeholder": "t:sections.slideshow.blocks.video.settings.video_url.placeholder",
        	"info": "t:sections.slideshow.blocks.video.settings.video_url.info"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.slideshow.blocks.video.settings.heading.label"
        },
        {
            "type": "text",
            "id": "text",
            "label": "t:sections.slideshow.blocks.video.settings.text.label"
        },
        {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "t:sections.slideshow.blocks.video.settings.button_label_1.label",
            "info": "t:sections.slideshow.blocks.video.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "t:sections.slideshow.blocks.video.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_1",
            "default": false,
            "label": "t:sections.slideshow.blocks.video.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "default": "Button label",
            "label": "t:sections.slideshow.blocks.video.settings.button_label_2.label",
            "info": "t:sections.slideshow.blocks.video.settings.button_label_2.info"
          },
          {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.slideshow.blocks.video.settings.button_link_2.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.slideshow.blocks.video.settings.button_style_secondary_2.label"
          },
          {
            "type": "select",
            "id": "desktop_text_box_position",
            "options": [
              {"value": "align-items-start justify-content-center","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__1.label"},
              {"value": "align-items-center justify-content-center","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__2.label"},
              {"value": "align-items-end justify-content-center","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__3.label"},
              {"value": "align-items-start justify-content-start","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__4.label"},
              {"value": "align-items-center justify-content-start","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__5.label"},
              {"value": "align-items-end justify-content-start","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__6.label"},
              {"value": "align-items-start justify-content-end","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__7.label"},
              {"value": "align-items-center justify-content-end","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__8.label"},
              {"value": "align-items-end justify-content-end","label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.options__9.label"}
            ],
            "default": "align-items-center justify-content-start",
            "label": "t:sections.slideshow.blocks.image.settings.desktop_text_box_position.label"
          },
          {
            "type": "select",
            "id": "text-align",
            "options": [
              {"value": "center","label": "Center"},
              {"value": "right","label": "Right"},
              {"value": "left","label": "Left"}
            ],
            "default": "left",
            "label": "Text align"
          },
          {
            "type": "select",
            "id": "color_scheme",
            "options": [
              {
                "value": "prebild",
                "label": "Primary"
              },
              {
                "value": "accent-1",
                "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__1.label"
              },
              {
                "value": "accent-2",
                "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__2.label"
              },
              {
                "value": "background-1",
                "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__3.label"
              },
              {
                "value": "background-2",
                "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__4.label"
              },
              {
                "value": "inverse",
                "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__5.label"
              }
            ],
            "default": "prebild",
            "label": "t:sections.slideshow.blocks.image.settings.color_scheme.label"
          }
        ]
    }
  ],
  "presets": [
    {
      "name": "New slideshow ",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %}
{%- for block in section.blocks -%}
  {%- if  block.type == 'video' -%}
    <iframe src="https://www.youtube.com/embed/{{ block.settings.video.id }}" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.title | escape }}"></iframe>
  {%- endif -%}
  {%- endfor -%}
{% endcomment %}
